// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.button {
  &:link,
  &:visited {
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 100px;
    transition: all 0.2s;
    position: relative;
    font-size: 1.5rem;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  }

  &:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }

  &::after {
    content: "";
    display: inline-block;
    transition: all 0.2s;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
  }

  &--white {
    background: var(--eggshell);
    color: var(--color-links);
  }

  &--white::after {
    background: var(--eggshell);
    color: var(--color-links);
  }

  &--animated {
    animation: moveFromBottom 0.5s 0.75s ease-out;
    // This will use animations 0% before animations start
    // Good for elements we want to be hidden before animation
    animation-fill-mode: backwards;
  }

  &--text {
    &:hover {
      background: lighten($color: $primary-light-green, $amount: 25%);
    }
  }
}
