.card {
  perspective: 150rem;
  position: relative;
  color: violet;
  height: 52rem;
  &__side {
    box-shadow: 0 1.5rem 4rem rgba($text-color, 0.15);
    backface-visibility: hidden; // hide background of the element while rotating
    transition: all 1s ease;
    border-radius: 0.3rem;
    position: absolute;
    height: 52rem;
    width: 100%;
    left: 0;
    top: 0;

    & > * {
      overflow: hidden; // so that images dont overflow border radius
    }
    &--front {
      background-color: var(--color-light);
    }
    &--back {
      transform: rotateY(180deg);
      &-1 {
        background: linear-gradient(
          to bottom right,
          $secondary-light,
          $secondary-dark
        );
      }
      &-2 {
        background: linear-gradient(
          to bottom right,
          $primary-light-green,
          $primary-dark-green
        );
      }
      &-3 {
        background: linear-gradient(
          to bottom right,
          $tertiary-light,
          $tertiary-dark
        );
      }
    }
  } // side

  &__picture {
    background-size: cover;
    background-blend-mode: screen;
    height: 23rem;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    &--1 {
      background-image: linear-gradient(
          to bottom right,
          $secondary-light,
          $secondary-dark
        ),
        resolve("nat-5.jpg");
    }
    &--2 {
      background-image: linear-gradient(
          to bottom right,
          $primary-light-green,
          $primary-dark-green
        ),
        resolve("nat-5.jpg");
    }
    &--3 {
      background-image: linear-gradient(
          to bottom right,
          $tertiary-light,
          $tertiary-dark
        ),
        resolve("nat-5.jpg");
    }
  } // Picture

  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: var(--color-light);
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%;
  } // Heading

  &__heading-span {
    padding: 1rem 1.5rem;
    box-decoration-break: clone; // align word break words as separate elements
    &--1 {
      background: linear-gradient(
        to right bottom,
        rgba($color: $secondary-light, $alpha: 0.85),
        rgba($color: $secondary-dark, $alpha: 0.85)
      );
    }
    &--2 {
      background: linear-gradient(
        to right bottom,
        rgba($color: $primary-light-green, $alpha: 0.85),
        rgba($color: $primary-dark-green, $alpha: 0.85)
      );
    }
    &--3 {
      background: linear-gradient(
        to right bottom,
        rgba($color: $tertiary-light, $alpha: 0.85),
        rgba($color: $tertiary-dark, $alpha: 0.85)
      );
    }
  } // Heading-span

  &__details {
    padding: 3rem;
    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;

      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid $light-grey;
        }
      }
    }
  } // Details

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }
  &:hover &__side--back {
    transform: rotateY(0);
  }

  &__cta {
    position: absolute;
    // CEntering element here VVV
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
  }

  &__price-box {
    text-align: center;
    color: var(--color-light);
    margin-bottom: 4rem;
  }

  &__price-only {
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  &__price-value {
    font-size: 6rem;
    font-weight: 100;
    margin-bottom: 4rem;
  }
}
