.composition {
  position: relative;

  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color: $text-color, $alpha: 0.6);
    border-radius: 0.2rem;
    position: absolute;
    transition: transform 0.2s;
    z-index: 9;
    outline-offset: 1rem;

    &--p1 {
      left: 0;
      top: -2rem;
    }
    &--p2 {
      right: 0;
      top: 2rem;
    }
    &--p3 {
      left: 20%;
      top: 10rem;
    }

    &:hover {
      transform: scale(1.1) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color: $text-color, $alpha: 0.7);
      z-index: 10;
      outline: 1rem $primary-dark-green solid;
    }
  }
  // Scale down all images that are not hovered CSS hack mf!
  &:hover &__photo:not(:hover) {
    transform: scale(0.9);
  }
}
