// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer {
  background-color: $dark-grey;
  transform: translateY(-5rem);
  padding: 11rem 0;
  font-size: 1.4rem;

  &__logo-box {
    text-align: center;
    margin-bottom: 8rem;
  }

  &__logo {
    width: 15rem;
    height: auto;
  }

  &__navigation {
    border-top: 1px solid $mid-grey;
    padding-top: 2rem;
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      color: $light-grey;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      padding: 0 0.3rem;
      transition: all 0.2s;
    }

    &:hover,
    &:active {
      color: $primary-green;
      background-color: $dark-grey;
      box-shadow: 0 1rem 2rem rgba($color: black, $alpha: 0.4);
      transform: rotate(5deg) scale(1.2);
    }
  }

  &__copyright {
    color: $light-grey;
    border-top: 1px solid $mid-grey;
    padding-top: 2rem;
  }
}
