// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.header {
  height: 95vh;
  background: linear-gradient(
      to right bottom,
      rgba($primary-light-green, 0.7),
      rgba($primary-dark-green, 0.7)
    ),
    resolve("hero.jpg") no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  &__logobox {
    position: absolute;
    top: 4rem;
    left: 4rem;

    &__logo {
      height: 3.5rem;
    }
  } // ! logobox

  &__container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -60%);
    text-align: center;
  }

  &__title {
    color: var(--white);
    text-transform: uppercase;
    // Hack fix for animation shaking when we don't use backface of elements while transformations
    backface-visibility: hidden;
    margin-bottom: 6rem;

    &--main {
      display: block;
      font-size: 6rem;
      font-weight: 400;
      letter-spacing: 3.5rem;
      animation: moveInLeft 1s ease-out;
    }
    &--sub {
      display: block;
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: 1.75rem;
      animation: moveInRight 1s ease-out;
    }
  } // ! title
} // ! header
