@font-face {
  font-family: Lato;
  font-style: italic;
  font-weight: 100;
  src: local("Lato Hairline Italic"),local(Lato-HairlineItalic),url(//fonts.gstatic.com/s/lato/v13/81DMwqUqq96weubmVpbDyvesZW2xOQ-xsNqO47m55DA.eot?#) format("eot"),url(//fonts.gstatic.com/s/lato/v13/9TBVFLzQ3GUZLG8FZ4yrEfesZW2xOQ-xsNqO47m55DA.woff2) format("woff2"),url(//fonts.gstatic.com/s/lato/v13/CggrdU0t5c42NcNxN-VM3_esZW2xOQ-xsNqO47m55DA.woff) format("woff"); }
@font-face {
  font-family: Lato;
  font-style: italic;
  font-weight: 300;
  src: local("Lato Light Italic"),local(Lato-LightItalic),url(//fonts.gstatic.com/s/lato/v13/2HG_tEPiQ4Z6795cGfdivPY6323mHUZFJMgTvxaG2iE.eot?#) format("eot"),url(//fonts.gstatic.com/s/lato/v13/2HG_tEPiQ4Z6795cGfdivFtXRa8TVwTICgirnJhmVJw.woff2) format("woff2"),url(//fonts.gstatic.com/s/lato/v13/2HG_tEPiQ4Z6795cGfdivD8E0i7KZn-EPnyo3HZu7kw.woff) format("woff"); }
@font-face {
  font-family: Lato;
  font-style: italic;
  font-weight: 400;
  src: local("Lato Italic"),local(Lato-Italic),url(//fonts.gstatic.com/s/lato/v13/bjaQ6jyWa8A2XFrSKceJyA.eot?#) format("eot"),url(//fonts.gstatic.com/s/lato/v13/PLygLKRVCQnA5fhu3qk5fQ.woff2) format("woff2"),url(//fonts.gstatic.com/s/lato/v13/oUan5VrEkpzIazlUe5ieaA.woff) format("woff"); }
@font-face {
  font-family: Lato;
  font-style: italic;
  font-weight: 700;
  src: local("Lato Bold Italic"),local(Lato-BoldItalic),url(//fonts.gstatic.com/s/lato/v13/HkF_qI1x_noxlxhrhMQYEPY6323mHUZFJMgTvxaG2iE.eot?#) format("eot"),url(//fonts.gstatic.com/s/lato/v13/HkF_qI1x_noxlxhrhMQYEFtXRa8TVwTICgirnJhmVJw.woff2) format("woff2"),url(//fonts.gstatic.com/s/lato/v13/HkF_qI1x_noxlxhrhMQYED8E0i7KZn-EPnyo3HZu7kw.woff) format("woff"); }
@font-face {
  font-family: Lato;
  font-style: italic;
  font-weight: 900;
  src: local("Lato Black Italic"),local(Lato-BlackItalic),url(//fonts.gstatic.com/s/lato/v13/VNUH7ZAcagYBWsAiBBCEY_Y6323mHUZFJMgTvxaG2iE.eot?#) format("eot"),url(//fonts.gstatic.com/s/lato/v13/VNUH7ZAcagYBWsAiBBCEY1tXRa8TVwTICgirnJhmVJw.woff2) format("woff2"),url(//fonts.gstatic.com/s/lato/v13/VNUH7ZAcagYBWsAiBBCEYz8E0i7KZn-EPnyo3HZu7kw.woff) format("woff"); }
@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 100;
  src: local("Lato Hairline"),local(Lato-Hairline),url(//fonts.gstatic.com/s/lato/v13/KlmP_Vc2zOZBldw8AfXD5g.eot?#) format("eot"),url(//fonts.gstatic.com/s/lato/v13/GtRkRNTnri0g82CjKnEB0Q.woff2) format("woff2"),url(//fonts.gstatic.com/s/lato/v13/boeCNmOCCh-EWFLSfVffDg.woff) format("woff"); }
@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"),local(Lato-Light),url(//fonts.gstatic.com/s/lato/v13/zLhfkPOm_5ykmdm-wXaiuw.eot?#) format("eot"),url(//fonts.gstatic.com/s/lato/v13/EsvMC5un3kjyUhB9ZEPPwg.woff2) format("woff2"),url(//fonts.gstatic.com/s/lato/v13/KT3KS9Aol4WfR6Vas8kNcg.woff) format("woff"); }
@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"),local(Lato-Regular),url(//fonts.gstatic.com/s/lato/v13/nQhiC-wSiJx0pvEuJl8d8A.eot?#) format("eot"),url(//fonts.gstatic.com/s/lato/v13/1YwB1sO8YE1Lyjf12WNiUA.woff2) format("woff2"),url(//fonts.gstatic.com/s/lato/v13/9k-RPmcnxYEPm8CNFsH2gg.woff) format("woff"); }
@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"),local(Lato-Bold),url(//fonts.gstatic.com/s/lato/v13/sBtfDPlEIwvKKU53nAG7AQ.eot?#) format("eot"),url(//fonts.gstatic.com/s/lato/v13/H2DMvhDLycM56KNuAtbJYA.woff2) format("woff2"),url(//fonts.gstatic.com/s/lato/v13/wkfQbvfT_02e2IWO3yYueQ.woff) format("woff"); }
@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  src: local("Lato Black"),local(Lato-Black),url(//fonts.gstatic.com/s/lato/v13/BjDVcwQGWPX2RAidnkd0Bw.eot?#) format("eot"),url(//fonts.gstatic.com/s/lato/v13/tI4j516nok_GrVf4dhunkg.woff2) format("woff2"),url(//fonts.gstatic.com/s/lato/v13/BVtM30trf7q_jfqYeHfjtA.woff) format("woff"); }
/*Variables*/
:root {
  /* Using percentages for the font size is the best practices, beacuse with overwritting  browsers
    fz with pixels we are not allowing end users to use their chooses fz 
    62.5% is 10px of browser default 16px if users haven't changed their fz
    */
  /*custom properties*/
  /*Custom media*/
  /* Material Design Adaptive Breakpoints */
  /*
    Below you'll find CSS media queries based on the breakpoint guidance
    published by the Material Design team. You can choose to use, customise
    or remove these breakpoints based on your needs.

    http://www.google.com/design/spec/layout/adaptive-ui.html#adaptive-ui-breakpoints
   */
  /* mobile-small */
  /* mobile-large */
  /* mobile-small-landscape */
  /* mobile-large-landscape */
  /* tablet-small-landscape */
  /* tablet-large-landscape */
  /* tablet-small */
  /* tablet-large */
  /* desktop-x-small-landscape */
  /* desktop-x-small */
  /* desktop-small-landscape */
  /* desktop-small */
  /* desktop-medium-landscape */
  /* desktop-medium */
  /* desktop-large */
  /* desktop-xlarge */ }
/* root */
/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }
/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }
/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }
/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }
/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }
/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }
/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }
/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }
/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }
sub {
  bottom: -0.25em; }
sup {
  top: -0.5em; }
/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }
/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }
/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }
/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }
/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }
/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }
/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }
/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }
/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }
/**
 * Add the correct display in IE.
 */
template {
  display: none; }
/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }
/**
 * Set up a decent box model on the root element
 */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }
/**
 * Basic styles for links
 */
a {
  color: #e50050;
  text-decoration: none; }
a:hover, a:active, a:focus {
    color: #222222;
    text-decoration: underline; }
/* Fonts */
html {
  font-size: 62.5%; }
body {
  font-family: "Lato", "Open Sans";
  font-weight: 400;
  line-height: 1.7;
  color: #777; }
/**
 * Basic typography style for copy text
 */
.heading {
  color: #fff;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  margin-bottom: 60px;
  margin-bottom: 6rem; }
.heading__primary__title {
    display: block;
    font-size: 60px;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 35px;
    letter-spacing: 3.5rem;
    -webkit-animation: moveInLeft 1s ease-out;
            animation: moveInLeft 1s ease-out; }
.heading__primary__subtitle {
    display: block;
    font-size: 20px;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 17.5px;
    letter-spacing: 1.75rem;
    -webkit-animation: moveInRight 1s ease-out;
            animation: moveInRight 1s ease-out; }
.heading__secondary {
    font-size: 35px;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: -webkit-gradient(linear, left top, right top, from(#55c57a), to(#28b485));
    background-image: linear-gradient(to right, #55c57a, #28b485);
    -webkit-background-clip: text;
    letter-spacing: 2px;
    letter-spacing: 0.2rem;
    color: transparent;
    -webkit-transition: -webkit-transform 0.2s ease-in;
    transition: -webkit-transform 0.2s ease-in;
    transition: transform 0.2s ease-in;
    transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in; }
.heading__secondary:hover {
      -webkit-transform: skewY(2deg) skewX(15deg);
              transform: skewY(2deg) skewX(15deg);
      text-shadow: 5px 10px 20px rgba(34, 34, 34, .2);
      text-shadow: 0.5rem 1rem 2rem rgba(34, 34, 34, .2); }
.heading__tertiary {
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase; }
.paragraph {
  font-size: 16px;
  font-size: 1.6rem; }
.paragraph:not(:last-child) {
    margin-bottom: 30px;
    margin-bottom: 3rem; }
/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: "";
  display: table; }
/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container {
  max-width: 1180px;
  /* 1 */
  margin-left: auto;
  /* 2 */
  margin-right: auto;
  /* 2 */
  padding-left: 20px;
  /* 3 */
  padding-right: 20px;
  /* 3 */
  width: 100%;
  /* 1 */ }
/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0;
  /* 1 */
  text-indent: 101%;
  white-space: nowrap; }
/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
.h__center-text {
  text-align: center !important; }
.h__mb--big {
  margin-bottom: 80px !important;
  margin-bottom: 8rem !important; }
.h__mb--medium {
  margin-bottom: 40px !important;
  margin-bottom: 4rem !important; }
.h__mb--small {
  margin-bottom: 15px !important;
  margin-bottom: 1.5rem !important; }
.h__mt--big {
  margin-top: 80px !important;
  margin-top: 8rem !important; }
.h__mt--medium {
  margin-top: 40px !important;
  margin-top: 4rem !important; }
.h__mt--small {
  margin-top: 15px !important;
  margin-top: 1.5rem !important; }
/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0; }
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }
::selection {
  background: #b3d4fc;
  text-shadow: none; }
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }
/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }
/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }
/* ==========================================================================
   Custom CSS
   ========================================================================== */
.responsive {
  font-size: calc(16px + 14 * ((100vw - 420px) / 860)); }
body {
  padding: 30px;
  padding: 3rem;
  background: rgb(252, 250, 247);
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem); }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem); }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1; } }
@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem); }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem); }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1; } }
@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem); }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem); }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1; } }
@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem); }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem); }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1; } }
@-webkit-keyframes moveFromBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem); }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1; } }
@keyframes moveFromBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem); }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1; } }
.header {
  height: 96.85vh;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, .7)), to(rgba(40, 180, 133, .7))), url('../images/hero.jpg') no-repeat;
  background: linear-gradient(to right bottom, rgba(126, 213, 111, .7), rgba(40, 180, 133, .7)), url('../images/hero.jpg') no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
.header__logobox {
    position: absolute;
    top: 40px;
    top: 4rem;
    left: 40px;
    left: 4rem; }
.header__logobox__logo {
      height: 35px;
      height: 3.5rem; }
.header__container {
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -60%);
            transform: translate(-50%, -60%);
    text-align: center; }
.footer {
  background-color: #444444;
  -webkit-transform: translateY(-5rem);
          transform: translateY(-5rem);
  padding: 110px 0;
  padding: 11rem 0;
  font-size: 14px;
  font-size: 1.4rem; }
.footer__logo-box {
    text-align: center;
    margin-bottom: 80px;
    margin-bottom: 8rem; }
.footer__logo {
    width: 150px;
    width: 15rem;
    height: auto; }
.footer__navigation {
    border-top: 1px solid #999999;
    padding-top: 20px;
    padding-top: 2rem; }
.footer__list {
    list-style: none; }
.footer__item {
    display: inline-block; }
.footer__item:not(:last-child) {
      margin-right: 15px;
      margin-right: 1.5rem; }
.footer__link:link, .footer__link:visited {
    color: #ededed;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 0 3px;
    padding: 0 0.3rem;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
.footer__link:hover, .footer__link:active {
    color: #55c57a;
    background-color: #444444;
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, .4);
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, .4);
    -webkit-transform: rotate(5deg) scale(1.2);
            transform: rotate(5deg) scale(1.2); }
.footer__copyright {
    color: #ededed;
    border-top: 1px solid #999999;
    padding-top: 20px;
    padding-top: 2rem; }
.row {
  max-width: 1140px;
  max-width: 114rem;
  margin: 0 auto; }
.row:not(:last-child) {
    margin-bottom: 80px;
    margin-bottom: 8rem; }
.row [class^="col-"] {
    float: left; }
.row [class^="col-"]:not(:last-child) {
      margin-right: 60px;
      margin-right: 6rem; }
.row::after {
    content: "";
    clear: both;
    display: table; }
.row .col-1-of-2 {
    width: calc(50% - 3rem); }
.row .col-1-of-3 {
    width: calc(33.33333% - 4rem); }
.row .col-1-of-4 {
    width: calc(25% - 4.5rem); }
.row .col-2-of-3 {
    width: calc(66.66667% - 2rem); }
.row .col-2-of-4 {
    width: calc(50% - 3rem); }
.row .col-3-of-4 {
    width: calc(75% - 1.5rem); }
.navigation__checkbox {
  display: none; }
.navigation__button {
  background-color: #eee8d6;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, .1);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, .1);
  cursor: pointer;
  height: 70px;
  height: 7rem;
  width: 70px;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 60px;
  top: 6rem;
  right: 60px;
  right: 6rem;
  z-index: 2000;
  text-align: center; }
.navigation__background {
  height: 60px;
  height: 6rem;
  width: 60px;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 65px;
  top: 6.5rem;
  right: 65px;
  right: 6.5rem;
  background-image: radial-gradient(#7ed56f, #28b485);
  z-index: 1000;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
.navigation__nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  -webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  opacity: 0;
  width: 0; }
.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  list-style: none; }
.navigation__item {
  margin: 10px;
  margin: 1rem; }
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  background-size: 220%;
  padding: 10px 20px;
  padding: 1rem 2rem;
  font-size: 30px;
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.4s;
  transition: all 0.4s; }
.navigation__link:link span, .navigation__link:visited span {
    display: inline-block;
    margin-right: 15px;
    margin-right: 1.5rem; }
.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #55c57a;
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem); }
.navigation__checkbox:checked ~ .navigation__background {
  -webkit-transform: scale(80);
          transform: scale(80); }
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }
.navigation__icon {
  position: relative;
  margin-top: 34px;
  margin-top: 3.4rem; }
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 30px;
    width: 3rem;
    height: 2px;
    background-color: #444444;
    display: inline-block;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
.navigation__icon::after, .navigation__icon::before {
    content: "";
    position: absolute;
    left: 0; }
.navigation__icon::before {
    top: -8px;
    top: -0.8rem; }
.navigation__icon::after {
    top: 8px;
    top: 0.8rem; }
.navigation__button:hover .navigation__icon::before {
  top: -10px;
  top: -1rem; }
.navigation__button:hover .navigation__icon::after {
  top: 10px;
  top: 1rem; }
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg); }
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg); }
.button, .button:link, .button:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 40px;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 100px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  font-size: 15px;
  font-size: 1.5rem;
  border: none;
  cursor: pointer; }
.button:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2); }
.button:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
          transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }
.button:active, .button:focus {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .2);
  outline: none; }
.button::after {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0; }
.button--white {
  background: #eee8d6;
  color: #777; }
.button--white::after {
  background: #eee8d6;
  color: #777; }
.button--green {
  background: #55c57a;
  color: #eee8d6; }
.button--green:hover, .button--green:visited {
    color: #fff; }
.button--green::after {
  background: #55c57a;
  color: #eee8d6; }
.button--animated {
  -webkit-animation: moveFromBottom 0.5s 0.75s ease-out;
          animation: moveFromBottom 0.5s 0.75s ease-out;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards; }
.button--text:hover {
  background: #d6f2d2; }
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.25;
  overflow: hidden; }
.bg-video__content {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
.card {
  -webkit-perspective: 150rem;
          perspective: 150rem;
  position: relative;
  color: violet;
  height: 520px;
  height: 52rem; }
.card__side {
    -webkit-box-shadow: 0 1.5rem 4rem rgba(34, 34, 34, .15);
            box-shadow: 0 1.5rem 4rem rgba(34, 34, 34, .15);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    border-radius: 0.3rem;
    position: absolute;
    height: 520px;
    height: 52rem;
    width: 100%;
    left: 0;
    top: 0; }
.card__side > * {
      overflow: hidden; }
.card__side--front {
      background-color: #fff; }
.card__side--back {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg); }
.card__side--back-1 {
        background: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730));
        background: linear-gradient(to bottom right, #ffb900, #ff7730); }
.card__side--back-2 {
        background: -webkit-gradient(linear, left top, right bottom, from(#7ed56f), to(#28b485));
        background: linear-gradient(to bottom right, #7ed56f, #28b485); }
.card__side--back-3 {
        background: -webkit-gradient(linear, left top, right bottom, from(#2998ff), to(#5643fa));
        background: linear-gradient(to bottom right, #2998ff, #5643fa); }
.card__picture {
    background-size: cover;
    background-blend-mode: screen;
    height: 230px;
    height: 23rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
.card__picture--1 {
      background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730)), url('../images/nat-5.jpg');
      background-image: linear-gradient(to bottom right, #ffb900, #ff7730), url('../images/nat-5.jpg'); }
.card__picture--2 {
      background-image: -webkit-gradient(linear, left top, right bottom, from(#7ed56f), to(#28b485)), url('../images/nat-5.jpg');
      background-image: linear-gradient(to bottom right, #7ed56f, #28b485), url('../images/nat-5.jpg'); }
.card__picture--3 {
      background-image: -webkit-gradient(linear, left top, right bottom, from(#2998ff), to(#5643fa)), url('../images/nat-5.jpg');
      background-image: linear-gradient(to bottom right, #2998ff, #5643fa), url('../images/nat-5.jpg'); }
.card__heading {
    font-size: 28px;
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 120px;
    top: 12rem;
    right: 20px;
    right: 2rem;
    width: 75%; }
.card__heading-span {
    padding: 10px 15px;
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
            box-decoration-break: clone; }
.card__heading-span--1 {
      background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 185, 0, .85)), to(rgba(255, 119, 48, .85)));
      background: linear-gradient(to right bottom, rgba(255, 185, 0, .85), rgba(255, 119, 48, .85)); }
.card__heading-span--2 {
      background: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, .85)), to(rgba(40, 180, 133, .85)));
      background: linear-gradient(to right bottom, rgba(126, 213, 111, .85), rgba(40, 180, 133, .85)); }
.card__heading-span--3 {
      background: -webkit-gradient(linear, left top, right bottom, from(rgba(41, 152, 255, .85)), to(rgba(86, 67, 250, .85)));
      background: linear-gradient(to right bottom, rgba(41, 152, 255, .85), rgba(86, 67, 250, .85)); }
.card__details {
    padding: 30px;
    padding: 3rem; }
.card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
.card__details ul li {
        text-align: center;
        font-size: 15px;
        font-size: 1.5rem;
        padding: 10px;
        padding: 1rem; }
.card__details ul li:not(:last-child) {
          border-bottom: 1px solid #ededed; }
.card:hover .card__side--front {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg); }
.card:hover .card__side--back {
    -webkit-transform: rotateY(0);
            transform: rotateY(0); }
.card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
.card__price-box {
    text-align: center;
    color: #fff;
    margin-bottom: 40px;
    margin-bottom: 4rem; }
.card__price-only {
    font-size: 14px;
    font-size: 1.4rem;
    text-transform: uppercase; }
.card__price-value {
    font-size: 60px;
    font-size: 6rem;
    font-weight: 100;
    margin-bottom: 40px;
    margin-bottom: 4rem; }
.composition {
  position: relative; }
.composition__photo {
    width: 55%;
    -webkit-box-shadow: 0 1.5rem 4rem rgba(34, 34, 34, .6);
            box-shadow: 0 1.5rem 4rem rgba(34, 34, 34, .6);
    border-radius: 0.2rem;
    position: absolute;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    z-index: 9;
    outline-offset: 10px;
    outline-offset: 1rem; }
.composition__photo--p1 {
      left: 0;
      top: -20px;
      top: -2rem; }
.composition__photo--p2 {
      right: 0;
      top: 20px;
      top: 2rem; }
.composition__photo--p3 {
      left: 20%;
      top: 100px;
      top: 10rem; }
.composition__photo:hover {
      -webkit-transform: scale(1.1) translateY(-0.5rem);
              transform: scale(1.1) translateY(-0.5rem);
      -webkit-box-shadow: 0 2.5rem 4rem rgba(34, 34, 34, .7);
              box-shadow: 0 2.5rem 4rem rgba(34, 34, 34, .7);
      z-index: 10;
      outline: 10px #28b485 solid;
      outline: 1rem #28b485 solid; }
.composition:hover .composition__photo:not(:hover) {
    -webkit-transform: scale(0.9);
            transform: scale(0.9); }
.feature-box {
  background-color: rgba(255, 255, 255, .8);
  min-height: 420px;
  min-height: 42rem;
  font-size: 15px;
  font-size: 1.5rem;
  padding: 25px;
  padding: 2.5rem;
  text-align: center;
  border-radius: 0.3rem;
  -webkit-box-shadow: 0 1.5rem 3rem rgba(34, 34, 34, .15);
          box-shadow: 0 1.5rem 3rem rgba(34, 34, 34, .15);
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in; }
.feature-box__icon {
    font-size: 60px;
    font-size: 6rem;
    margin-bottom: 5px;
    margin-bottom: 0.5rem;
    color: transparent;
    display: inline-block;
    background-image: -webkit-gradient(linear, left top, right top, from(#7ed56f), to(#28b485));
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text; }
.feature-box:hover {
    -webkit-transform: scale(1.05) translateY(-1rem);
            transform: scale(1.05) translateY(-1rem); }
.form__group:not(:last-child) {
  margin-bottom: 30px;
  margin-bottom: 3rem; }
.form__input {
  color: inherit;
  font-family: inherit;
  font-size: 15px;
  font-size: 1.5rem;
  padding: 15px 20px;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-color: rgba(255, 255, 255, .5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block; }
.form__input:focus {
    outline: none;
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
    border-bottom: 3px solid #55c57a; }
.form__input:focus:invalid {
    border-bottom: 3px solid #ff7730; }
.form__input::-webkit-input-placeholder {
    color: #999999; }
.form__label {
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 20px;
  margin-left: 2rem;
  margin-top: 7px;
  margin-top: 0.7rem;
  display: block;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0);
          transform: translate(0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
          transform: translateY(-4rem); }
.form__radio-group {
  width: 49%;
  display: inline-block; }
.form__radio-input {
  display: none; }
.form__radio-label {
  position: relative;
  font-size: 16px;
  font-size: 1.6rem;
  cursor: pointer;
  padding-left: 40px;
  padding-left: 4rem; }
.form__radio-button {
  height: 30px;
  height: 3rem;
  width: 30px;
  width: 3rem;
  border: 5px solid #55c57a;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -4px;
  top: -0.4rem; }
.form__radio-button::after {
    content: "";
    display: block;
    background-color: #55c57a;
    border-radius: 50%;
    height: 13px;
    height: 1.3rem;
    width: 13px;
    width: 1.3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    opacity: 0; }
.form__radio-input:checked ~ .form__radio-label .form__radio-button:after {
  opacity: 1; }
.story {
  width: 75%;
  margin: 0 auto;
  font-size: 16px;
  font-size: 1.6rem;
  -webkit-box-shadow: 0 3rem 6rem rgba(34, 34, 34, .1);
          box-shadow: 0 3rem 6rem rgba(34, 34, 34, .1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 0.3rem;
  padding: 45px;
  padding: 4.5rem;
  text-align: left;
  -webkit-transform: skewX(-12deg);
          transform: skewX(-12deg); }
.story > * {
    -webkit-transform: skewX(12deg);
            transform: skewX(12deg); }
.story__shape {
    width: 150px;
    width: 15rem;
    height: 150px;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
            shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at center);
            clip-path: circle(50% at center);
    position: relative;
    overflow: hidden; }
.story__image {
    height: 100%;
    -webkit-transform: translateX(-4rem) scale(1.4);
            transform: translateX(-4rem) scale(1.4);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
.story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, 20%);
            transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    font-size: 17px;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
.story:hover .story__caption {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
.story:hover .story__image {
    -webkit-transform: translateX(-4rem) scale(1);
            transform: translateX(-4rem) scale(1);
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="3" /><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.8" /><feFuncG type="linear" slope="0.8" /><feFuncB type="linear" slope="0.8" /></feComponentTransfer></filter></svg>#filter');
    -webkit-filter: blur(3px) brightness(80%);
            filter: blur(3px) brightness(80%); }
.about {
  background-color: #ededed;
  padding: 250px 0;
  padding: 25rem 0;
  margin-top: -22vh; }
.features {
  padding: 200px 0;
  padding: 20rem 0;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, .7)), to(rgba(40, 180, 133, .7))), url('../images/nat-4.jpg') no-repeat;
  background: linear-gradient(to right bottom, rgba(126, 213, 111, .7), rgba(40, 180, 133, .7)), url('../images/nat-4.jpg') no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
  z-index: 2;
  -webkit-transform: skewY(-7deg) translateY(-12rem);
          transform: skewY(-7deg) translateY(-12rem); }
.features > * {
    -webkit-transform: skewY(7deg);
            transform: skewY(7deg); }
.tours {
  background-color: #ededed;
  padding: 240px 0 130px 0;
  padding: 24rem 0 13rem 0;
  margin-top: -20vh;
  -webkit-transform: translateY(-5rem);
          transform: translateY(-5rem); }
.stories {
  position: relative;
  -webkit-transform: translateY(-5rem);
          transform: translateY(-5rem);
  padding: 120px 0 150px 0;
  padding: 12rem 0 15rem 0; }
.booking {
  padding: 150px 0;
  padding: 15rem 0;
  -webkit-transform: translateY(-5rem);
          transform: translateY(-5rem);
  background-image: -webkit-gradient(linear, left top, right bottom, from(#7ed56f), to(#28b485));
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, .8) 0%, rgba(255, 255, 255, .8) 50%, transparent 50%), url('../images/nat-10.jpg');
  background-size: cover;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(34, 34, 34, .2);
          box-shadow: 0 1.5rem 4rem rgba(34, 34, 34, .2);
  border-radius: 0.3rem;
  height: 500px;
  height: 50rem; }
.book__form {
    width: 50%;
    padding: 60px;
    padding: 6rem; }
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }
/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }
.clearfix:after {
  clear: both; }
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media screen and (min-width: 1280px) {
  .responsive {
    font-size: 30px; } }
@media screen and (max-width: 420px) {
  .responsive {
    font-size: 16px; } }
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=main.css.map */
