.header {
  height: 95vh;
  background: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.7),
      rgba(40, 180, 131, 0.7)
    ),
    resolve("hero.jpg") no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  &__logobox {
    position: absolute;
    top: 40px;
    left: 40px;

    &__logo {
      height: 35px;
    }
  } // ! logobox

  &__container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -60%);
  }

  &__title {
    color: #fff;
    text-transform: uppercase;
    // Hack fix for animation shaking when we don't use backface of elements while transformations
    backface-visibility: hidden;

    &--main {
      display: block;
      font-size: 60px;
      font-weight: 400;
      letter-spacing: 35px;
      animation: moveInLeft 1s ease-out;
    }
    &--sub {
      display: block;
      font-size: 20px;
      font-weight: 700;
      letter-spacing: 17.4px;
      animation: moveInRight 1s ease-out;
    }
  } // ! title
} // ! header
