// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.about {
  background-color: $light-grey;
  padding: 25rem 0;
  margin-top: -22vh;

  @include respond(tab-port) {
    padding: 21rem 0;
  }
}

.features {
  padding: 20rem 0;
  background: linear-gradient(
      to right bottom,
      rgba($primary-light-green, 0.7),
      rgba($primary-dark-green, 0.7)
    ),
    resolve("nat-4.jpg") no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
  z-index: 2;
  transform: skewY(-7deg) translateY(-12rem);
  & > * {
    transform: skewY(7deg);
  }

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.tours {
  background-color: $light-grey;
  padding: 24rem 0 13rem 0;
  margin-top: -20vh;
  transform: translateY(-5rem);

  @include respond(tab-port) {
    padding: 19rem 0 8rem 0;
  }
}

.stories {
  position: relative;
  transform: translateY(-5rem);
  padding: 12rem 0 15rem 0;

  @include respond(tab-port) {
    padding: 6rem 0 10rem 0;
  }
}

.booking {
  padding: 15rem 0;
  transform: translateY(-5rem);
  background-image: linear-gradient(
    to right bottom,
    $primary-light-green,
    $primary-dark-green
  );

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.book {
  background-image: linear-gradient(
      105deg,
      rgba(white, 0.8) 0%,
      rgba(white, 0.8) 50%,
      transparent 50%
    ),
    resolve("nat-10.jpg");
  background-size: cover;
  box-shadow: 0 1.5rem 4rem rgba($text-color, 0.2);
  border-radius: 0.3rem;
  height: 50rem;
  &__form {
    width: 50%;
    padding: 6rem;
  }
}
